{% extends 'mailing/base.html' %}

{% block content %}
<form method="post">
    <div class="mb-5 text-center">
        <button type="submit" class="w-10 btn btn-lg btn-danger">Удалить</button>
        <a class="w-10 btn btn-lg btn-warning"
           href="{% url 'data_statistics:mailing_stat_detail' object.pk %}">Отменить</a>
    </div>

    <div class="text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Удаление попытки рассылки: {{ object.name }}</h4>
                </div>
                <div class="card-body">
                    <p>Действительно хотите удалить клиента?</p>
                    {% csrf_token %}
                    {{ form.as_p }}

                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}