{% extends 'mailing/base.html' %}

{% block content %}
<div class="mb-5 text-center">
    <a class="w-10 btn btn-lg btn-danger" href="{% url 'mailing:message_delete' object.pk %}">Удалить</a>
    <a class="w-10 btn btn-lg btn-warning"
       href="{% url 'mailing:message_update' object.pk %}">Редактировать</a>
    <a class="w-10 btn btn-lg btn-info" href="{% url 'mailing:message_list' %}">К списку</a>
</div>
<div class="text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Тема сообщения: {{object.title}}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Активная рассылка:
                        {% if object.mailing %}
                        {{object.mailing}}
                        {% else %}
                        Нет активной рассылки
                        {% endif %}
                    </li>
                    <li>Текст сообщения: {{object.body}}</li>
                    <li>Последнее использование: {{object.last_used}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}