{% extends 'mailing/base.html' %}

{% block content %}
<div class="text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Тема сообщения: {{object.title}}</h4>
            </div>
            <div class="card-body">
                <h4>Активная рассылка:
                    {% if object.mailing %}
                    {{object.mailing}}
                    {% else %}
                    Нет активной рассылки
                    {% endif%}
                </h4>
                <h5>Текст сообщения: {{object.body}}</h5>
                <h4>Последнее использование: {{object.last_used}}</h4>
            </div>
            <div class="card-footer">
                <a class="w-10 btn btn-lg btn-danger" href="{% url 'mailing:message_delete' object.pk %}">Удалить</a>
                <a class="w-10 btn btn-lg btn-warning"
                   href="{% url 'mailing:message_update' object.pk %}">Редактировать</a>
                <a class="w-10 btn btn-lg btn-info" href="{% url 'mailing:message_list' %}">К списку</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}