<div class="text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    {% include 'mailing/includes/mailing/inc_card_header.html' %}
                </h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% include 'mailing/includes/mailing/inc_card_body.html' %}
                </form>
            </div>
        </div>
    </div>
</div>